$custom-control-indicator-bg: #ffffff;
$custom-control-indicator-size: 1.4rem;
$custom-control-gutter: $custom-control-indicator-size + 0.5rem;

$secondary: #fa6d16;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "float";

p {
    text-align: justify;
}

input.form-control {
    &:required {
        border-color: $blue;
    }

    &.error {
        border-color: $red;
    }
}
.menu-open-button {
    width: $spacer * 5;
    height: $spacer * 5;

    z-index: 10;
    position: fixed;

    right: $spacer;
    bottom: $spacer;

    font-size: $font-size-base * 2;
}

.menu-panel {
    @include media-breakpoint-down("md") {
        position: fixed;

        width: 80%;
        height: 100%;

        z-index: 9;

        background-color: $white;
    }

    .nav-link {
        display: flex;
        cursor: pointer;

        @include media-breakpoint-up("lg") {
            flex-direction: row-reverse;
            .nav-count {
                text-align: left;
            }
        }

        @include media-breakpoint-down("lg") {
            flex-direction: row;
            .nav-count {
                text-align: right;
            }
        }

        .nav-count {
            flex-grow: 1;
            color: $gray-500;
        }

        .nav-text {
            padding: 0 0.5rem;
        }

        & * {
            flex: 0 0 auto;
        }
    }
}

.btn.dropdown-toggle {
    position: relative;

    &[aria-expanded="true"] {
        background-color: $white;

        @include border-bottom-radius(0);
        border-bottom: 0;

        z-index: 6;

        &, & span {
            color: $dark;
        }
    }

    &[aria-expanded="false"] {
        background-color: lighten($dark, 10%);

        border-color: darken($white, 40%);
        z-index: 5;

        &, & span {
            color: $white;
        }
    }

    & + div.dropdown-menu {
        z-index: 4;
        top: calc(100% - 3px);
        right: 0;
        left: unset;
    }
}

#cover {
    height: 100%;
    width: 100%;

    background-color: $black;

    opacity: 0.5;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 8;

    display: none;

    @include media-breakpoint-up("lg") {
        display: none !important;
    }
}

.btn {
    font-weight: 600!important;
}

.input-group {
    margin: $spacer*0.5 0;
}

.custom-control-label::before {
    border: solid $border-width $gray-500;
}

.custom-control-label {
    height: $custom-control-gutter;
}

.input-group-text .custom-select {
    border: none;
    background-color: transparent;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
}

.nav-link {
    @include transition($transition-base, line-height 0.1s ease-in-out);

    z-index: 1;
    position: relative;

    margin-bottom: $spacer * .25;

    @media (min-width: map_get($grid-breakpoints, "lg")) {
        margin-left: $spacer * 1.875;
        text-align: right;
        @include border-left-radius($border-radius);

        background: $primary;
        color: $white;
    }

    @media (max-width: map_get($grid-breakpoints, "lg")) {
        text-align: left;

        background: $white;
        color: $black;

        &:first-child {
            @include border-top-radius($border-radius);
        }
    }

    &.active {
        color: $black;

        @include media-breakpoint-down("md") {
            background-color: $gray-300;
        }

        @include media-breakpoint-up("lg") {
            background-color: $white;
        }

        @media (min-width: map_get($grid-breakpoints, "lg")) {
            margin-left: $spacer * .1875;
        }

        box-shadow: 0 0 0 $spacer*0.5 rgba($gray-300, .175) !important;
    }

    &:hover {
        color: $black;
    }

    &:hover:not(.disabled):not(.active) {
        background-color: darken($primary, 3%);
        color: #ffffff;

        box-shadow: 0 0 0 $spacer*0.5 rgba( $primary, .2 ) !important;

        @media (min-width: map_get($grid-breakpoints, "lg")) {
            margin-left: 0;
        }
    }

    &:hover:not(.disabled) {
        margin-left: 0;

        @include media-breakpoint-up("lg") {
            font-size: $font-size-base * 1.1;
        }

        z-index: 0;
    }

    &.disabled:hover {
        @media (min-width: map_get($grid-breakpoints, "lg")) {
            margin-left: $spacer * 1.25;
        }
    }

    &.disabled {
        background-color: lighten($primary, 25%);

        @media (min-width: map_get($grid-breakpoints, "lg")) {
            margin-left: $spacer * 2;
        }
    }
}


body {
    background-color: $gray-300;
}
